@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
*{
	margin: 0;
	padding: 0;

}
.title{
	padding-top: 20px;
	font-size: 30px;
text-align: center;
background-color: rgba(255, 255, 255, 0.9);
padding-bottom: 30px;
}
table{
	
	margin:25px auto;
	 border-collapse: collapse;
	 background-color:rgba(255, 255, 255, 0.9);
	 font-size: 20px;
	 color: grey;



}
a:hover{
	color: #2acf15;
}
.align-center{
		margin:25px auto;
		width: 70%;
}
#tableHeading{
	background-color: #2acf15;
	color:white;
}
tr{
	height: 40px;

}
td{
	padding: 10px;
}
.background{
	font-family: 'Titillium Web', sans-serif;
	background-image: url("image/home_graphic_main.svg");
	background-size: cover;
	width: 100%;
	height: 100vh;


}
