*{
	margin: 0;
	padding: 0;

}

table{
	margin:25px auto;
	 border-collapse: collapse;


}
.align-center{
		margin:25px auto;
}
#tableHeading{
	background-color: green;
	color:white;
}
tr{
	height: 40px;

}
td{
	padding: 10px;
}
