@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
body{
	background-color: #EFEFEF;
}
table{
	margin:25px auto;
	 border-collapse: collapse;
	 background-color: white;

}
tr{
	height: 40px;

}
td{
	padding: 10px;
}
#tableHeading{
	background-color: #00CB5B;
	color: white;
}