*{
  margin:0;
  padding: 0;
  background-color: black;
}
.flow-wrapper{
  position: relative;
  cursor: pointer;
  width: 100px;

}
.card-image{
  height: 300px;
  width: 300px;
  background-color: yellow;

}
.card-container{
  background-color: red;
  height: 40px;
  width: 400px;
  position: absolute;
  bottom: 10px;
  left: 20px;

}
.flow-wrapper:hover .card-container{
  animation: rotate-red 5s;
}
@keyframes rotate-red {
  0%{
    left: 0px;
  }
  100%{
    left: :10px;
  }
}
