.full-container-header{

  overflow: auto;
width: 1920px;
}
.header-upper-nav{
  width: 100%;


}
.header-upper-ico{
  line-height: 40px;
  overflow: auto;
}
.header-upper-ico-left{
  float: left;
  padding-top: 5px;

}
.header-upper-ico-right{
  float: right;
}
.header-upper-ico-left li{
  padding-right: 20px;
  float: left;
}

.hotline{
  padding-right: 16px;
}
.header-upper-nav-shadow{
background-image: url("../images/line.png");
background-repeat: repeat-x;
  height: 1px;
}
/* end of the header -upper */

.header-lower-ico{

line-height: 69px;

}

.navigation{
  float: right;

}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  padding-left: 52px;
  color: black;
  display: block;
}
.hero-image-container{
padding-top: 300px;

width: 899px;
  text-align: center;
  padding-bottom: 200px;

}
.banner-text{
  padding: 0 100px;
  font-size: 56px;
  padding-bottom: 44px;
}
.banner-paragraph{
  font-size: 18px;
line-height: 30px;
  padding: 0 250px;
  padding-bottom: 20px;

}

.banner-btn{

  border-radius: 25px;
  background-color: white;
  width: 139px;
  margin: 0 auto;

  box-shadow: 0px 0px 10px #efefef;


}
.banner-btn a{
display: block;

  color: green;
  padding: 16px;
  font-weight: bold;
  text-decoration: none;

}

.partner-text{
  float: left;
  width: 360px;
  line-height: 20px;
  padding-top: 20px;
}
.partner-text h3{
  font-size: 24px;
  padding-bottom: 10px;
}
.partner-logo-wrapper{
  float: right;
  padding-top: 20px;
  padding-bottom: 20px;
}

.partner-logo-wrapper img{
  padding-left: 67px;
}

.full-services-wrapper{
  clear: both;
  overflow: auto;
width: 1920px;
padding-top: 200px;
padding-bottom: 232px;

}
.services-title-wrapper{
  width: 960px;
  float: right;
}
.services-title{
  padding-right: 265px;
}
.services-list{
  width: 500px;

}

.services-title h3{
  padding-bottom: 31px;
}
.project-completed{
  float: left;

  padding-top: 81px;
  width: 195px;
}
.project-number{
  font-size: 44px;
  font-weight: 100;
  padding-bottom: 20px;
}
.project-green{
  color: #32d5ba;
}
.project-blue{
  color: #6dc4f2;
}
.contactus-full-wrapper{

  overflow: auto;
width: 1920px;
background-image: url("../images/images/contactus-bg_23.png");
}
.contactus-form-wrapper{


  padding-top: 300px;
  padding-bottom: 145px;

}
.contactus-form{

    margin: 0 auto;
      width: 750px;
      box-shadow: 0px 0px 10px #cfcfcf;
      background-color: white;

}
.form-input{

  width: 620px;
margin: 0 auto;

padding: 20px 0;
overflow: auto;


}
.form-input div{

}
.form-input input{
  background-color: #f5f5f5;
  border:1px solid white;
  border-radius: 15px;
}

.full-width-input input{
  width: 620px;
height: 64px;

margin: 10px 0;



}
.half-width-input{
  width: 300px;


margin: 10px 0;



}
.input-left{
  float: left;
}
.input-left input{
  width: 295px;
  height: 64px;
}
.input-right{
  float: right;
}
.input-right input{
  width: 295px;
  height: 64px;
}
.input-message input{
  height: 100px;
}
.input-padding{
  padding-top: 100px;
}
