.full-container-header{

  overflow: auto;
width: 1920px;
}
.header-upper-nav{
  width: 100%;


}
.header-upper-ico{
  line-height: 40px;
  overflow: auto;
}
.header-upper-ico-left{
  float: left;
  padding-top: 5px;

}
.header-upper-ico-right{
  float: right;
}
.header-upper-ico-left li{
  padding-right: 20px;
  float: left;
}

.hotline{
  padding-right: 16px;
}
.header-upper-nav-shadow{
background-image: url("../images/line.png");
background-repeat: repeat-x;
  height: 1px;
}
/* end of the header -upper */

.header-lower-ico{

line-height: 69px;

}

.navigation{
  float: right;

}
nav ul li{
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  padding-left: 52px;
  color: black;
  display: block;
}
.hero-image-container{
padding-top: 300px;

width: 899px;
  text-align: center;

}
.banner-text{
  padding: 0 100px;
  font-size: 56px;
  padding-bottom: 44px;
}
.banner-paragraph{
  font-size: 18px;
line-height: 30px;
  padding: 0 250px;
}
.banner-btn{
  padding: 20px;
  border-radius: 25px;
  background-color: red;
  width: 139px;
}
