@import url('https://fonts.googleapis.com/css?family=Roboto:100,400&display=swap');
.full-container-header{
  /* background-color: yellow; */
  background-image: url("../images/banner.png");
  background-size: cover;


}
.full-services-wrapper{
  /* background-color: yellow; */
  background-image: url("../images/images/services-background_22.png");
  background-size: cover;


}
.full-special-field{
  background-image: url("../images/laptop-bg_02.png");
background-repeat: no-repeat;
  overflow: auto;
  
}

.full-flow{
background:rgba(255, 255, 255, 0.94);
}
.project-green{
  color: #32d5ba;
}
.project-blue{
  color: #6dc4f2;
}
.project-yellow{
  color: #ffd13c;
}
.project-red{
  color: #f44336;
}
